data/*
!data/.gitkeep
queries/*
!queries/.gitkeep
results/*
!results/.gitkeep
paper/*
!paper/.gitkeep

vf2prob-poc-python/.venv/
vf2prob-poc-python/.tmp/
vf2prob-poc-python/__pycache__/
vf2prob-poc-python/**/__pycache__/
vf2prob-poc-python/**/*.pyc
vf2prob-poc-python/*.pyc

vf2prob-sys-cpp/build/

scripts/__pycache__/

.tmp/
*.DS_Store
